@media screen and (max-width : 922px) {

    /* Awal file index.html */
    .selamat h1 {

    font-size: 30px;
    }

    /* akhir file index.html */

    /* awal file kepengurusan.html */

    .pj-ketum {
        font-size: 12px;
    }

    .ben-sek {
        font-size: 12px;
    }

    
    .koordinator {
        font-size: 11px;
    }


    /* akhir file kepengurusan.html */
}

@media screen and (max-width : 767px) {

    /* Awal file kepengurusan.html */

    .Header-Kepengurusan h4 {
        font-size: 25px;
    }
    .Header-Kepengurusan h5 {
        font-size: 15px;
        margin-top:-5px;
    }
    .Header-Kepengurusan .katar {
        height: 65px;
    }
    .Header-Kepengurusan .banyuasin {
        height: 65px;
    }
    .Hr-Kepengurusan {
        border: 2px black solid;
    }
    
    .pj-ketum {
        font-size: 10px;
    }

    .ben-sek {
        font-size: 10px;
    }

    
    .koordinator {
        font-size: 8px;
    }


    
    /* Akhir file kepengurusan */

}



@media screen and (max-width : 576px) {
    
    /* awal file index.html */

    .selamat h1 {

        font-size: 20px;
        font-weight: bold;
    }

    /* Akhir file index.html*/

    /* Awal file kepengurusan.html */

    .Header-Kepengurusan h4 {
        font-size: 15px;
    }
    .Header-Kepengurusan h5 {
        font-size: 9px;
        margin-top:-6px;
    }
    .Header-Kepengurusan .katar {
        height: 50px;
    }
    .Header-Kepengurusan .banyuasin {
        height: 50px;
    }
    .Hr-Kepengurusan {
        border: 2px black solid;
    }
    

    .pj-ketum {
        display: grid;
        width: 100%;
        /* border: red 2px solid; */
        grid-template-columns: 150px;
    }

    .pj-item {
        display: flex;
        border:black 1px solid ;
        justify-content: center;
        align-items: center;
        
    }
    .bordergoib {
        color: white;
        border: none;
        height: 15px;
    ]
    .ketum-item {
        display: flex;
        border:black 1px solid ;
        justify-content: center;
        align-items: center;



    .borderhijau {
        background-color: greenyellow;
        font-weight: bold;
    }
    .bordermerah {
        background-color: red;
        color: white;
        font-weight: bold;
        text-align: center;
    }
    .bordergoib {
        color: white;
        border: none;
    }
    .noborder {
        border: none;
    }
    


    
    /* Akhir kepengurusan.html */



}

@media screen and (max-width : 350px) {

    /* awal file index.html */

    .selamat h1 {

        font-size: 15px;
        font-weight: bold;
    }

    /* akhir file index.html */
    
} 