body {
    font-family: 'Poppins', sans-serif;
    color: rgb(9, 0, 34);
}

.nav-link {
    font-size: 16px;
}

.nav-link.active {
    font-weight: 900;
}

.navbar-toggler-icon {
    width: 15px;
    /* padding: 3px; */
    /* border: 1px #ffffff solid; */
    /* box-shadow: 2px 2px 3px black; */
}

.button-primary {
    width: 120px;
    height: 35px;
    background-color: #ffffff;
    color:#c06d00;
    border: #ffee00 2px solid;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.button-primary:hover {
    background-color: salmon;
    color: white;
    border: white 2px solid;
    scale: 1.1;
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -ms-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
}
/* awal style index.html */

.carousel-item h5 {
    color: #ffffff;
    font-weight: 400;
    text-shadow: 1px 1px 2px black, -1px -1px 2px black;
}

.carousel-item p {
    color: #ffffff;
    font-weight: 400;
    text-shadow: 1px 1px 2px black, -1px -1px 2px black;
}

.tulisan h4 {
    font-weight: 400;
}

.perbesar:hover {
    background-color: #ffd900;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
}

/* akhir style index.html */


/* awal style *kepengurusan */


.Header-Kepengurusan {
    text-align: center;
}

.Header-Kepengurusan H4 {
    font-weight:700;
    font-size: 30px;
}

.Header-Kepengurusan h5 {
    font-weight:700;
    font-size: 25px;
    margin-top:-10px;
}

.katar {
    height: 90px;
}

.banyuasin {
    height: 90px;
}

.Hr-Kepengurusan {
    border: 3px black solid;
}

.pj-ketum {
    display: grid;
    width: 100%;
    /* border: red 2px solid; */
    margin: 15px auto 35px;
    grid-template-columns: 1fr 1fr 1fr;
}

.pj-item {
    display: flex;
    border:black 1px solid ;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: -9;
    grid-row-end: -1;
    margin-right: 8px;
}

.ketum-item {
    display: flex;
    border:black 1px solid ;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: -9;
    grid-row-end: -1;
    margin-right: 5px;

}
.ben-sek {
    display: grid;
    width: 100%;
    /* border: red 2px solid; */
    margin: 20px auto;
    grid-template-columns: 1fr .8fr 1fr;
}


.sek-item {
    display: flex;
    border:black 1px solid ;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: -7;
    grid-row-end: -1;
    margin-right: 5px;
}

.borderkosong {
    display: flex;
    /* border:black 1px solid ; */
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: -7;
    grid-row-end: -1;
    margin-right: 5px;
}

.ben-item {
    display: flex;
    border:black 1px solid ;
    justify-content: center;
    align-items: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: -7;
    grid-row-end: -1;
    margin-right: 5px;
}

.koordinator {
    display: grid;
    width: 100%;
    /* border: red 2px solid; */
    margin: 20px auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.kol1-item {
    display: flex;
    border:black 1px solid ;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    flex-wrap: wrap;

}
.kol2-item {
    display: flex;
    border:black 1px solid ;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    flex-wrap: wrap;

}
.kol3-item {
    display: flex;
    border:black 1px solid ;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    flex-wrap: wrap;

}
.kol4-item {
    display: flex;
    border:black 1px solid ;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    flex-wrap: wrap;

}
.kol5-item {
    display: flex;
    border:black 1px solid ;
    justify-content: center;
    align-items: center;

}

.tinggi-border {
    height: 60px;
}




.pembatas-akhir {
    height: 50px;
}

/* konfigurasi border */

.borderhijau {
    background-color: greenyellow;
    font-weight: bold;
    color: #2f00ff;
}
.bordermerah {
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: center;
}
.bordergoib {
    color: white;
    border: none;
    height: 65px;
}
.noborder {
    border: none;
}

/* Akhir Konfigurasi Border */

/* akhir style kepengurusan */


/* Awal style galery */

h2 {
    text-align: center;
    margin: 20px;
    font-weight: bold;
}
.item1 {
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;

}

.galery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 145px;
    grid-auto-rows: 145px;
    gap: 4px;
    grid-template-areas: 'gambar-1 gambar-2 gambar-3 gambar-4 gambar-12'
        'gambar-5 gambar-6 gambar-7 gambar-8 gambar-12'
        'gambar-11 gambar-9 gambar-10 gambar-13 gambar-14'
        'gambar-11 gambar-15 gambar-16 gambar-17 gambar-18';
    margin-bottom: 100px;
    }


/* Akhir Style Galery */