body {
    font-family: 'Poppins', sans-serif;
    
}

.nav-link {
    font-size: 16px;
}

.nav-link.active {
    font-weight: 900;
}

.navbar-toggler-icon {
    width: 15px;
    /* padding: 3px; */
    /* border: 1px #ffffff solid; */
    /* box-shadow: 2px 2px 3px black; */
}

.button-primary {
   width: 120px;
   height: 35px;
   background-color: #ffffff;
   color:#c06d00;
   border: #ffee00 2px solid;
   border-radius: 10px;
   font-size: 16px;
   font-weight: 700;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
}

.button-primary:hover {
    background-color: salmon;
    color: white;
    border: white 2px solid;
    scale: 1.1;
    transition: all ease-in-out .5s;
    -webkit-transition: all ease-in-out .5s;
    -moz-transition: all ease-in-out .5s;
    -ms-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
}
/* awal style index.html */

.carousel-item h5 {
    color: #ffffff;
    font-weight: 400;
    text-shadow: 1px 1px 2px black, -1px -1px 2px black;
}

.carousel-item p {
    color: #ffffff;
    font-weight: 400;
    text-shadow: 1px 1px 2px black, -1px -1px 2px black;
}

.tulisan h4 {
    font-weight: 400;
}

.perbesar:hover {
    background-color: #ffd900;
    transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
}

/* akhir style index.html */


/* awal style *kepengurusan */

.header-kepengurusan {
    list-style-type: none;
    display: inline-block;
    text-align: center;
}

.header-kepengurusan li {
    float:left;
}


/* akhir style kepengurusan */
